<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/base.css">
    {% block include %}
    {% endblock %}

  </head>
  <body>

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- posdoc.com challenges day-0001 header -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3257964358323623"
       data-ad-slot="6965761898"
       data-ad-format="horizontal"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <br>

  <div class="header">
    <div class="header-inside">
      <div class="header-inside1 header-insides">
        HOME
        <a href="{{url_for("index")}}"></a>
      </div>
      <div class="header-inside2 header-insides">
        Google.com
        <a href="http://www.google.com"></a>
      </div>
      <div class="header-inside3 header-insides">
        MyWEB
        <a href="http://posdoc.info/"></a>
      </div>
    </div>
  </div>

  {% block main %}
  {% endblock %}

  <div class="footer">
    <div class="footer-inside">
      <div class="footer-sns">
        <div class="f-icon footer-Facebook"><a href="https://www.facebook.com/naohiko.ban.3"></a></div>
        <div class="f-icon footer-Twitter"><a href="https://twitter.com/n_baaaaan"></a></div>
        <div class="f-icon footer-Youtube"><a href="https://www.youtube.com/channel/UCMrflO3VIiLPTgAJ-K_7xag"></a></div>
        <div class="f-icon footer-Linkedin"><a href="https://www.linkedin.com/in/naohiko-ban-741255129/"></a></div>
        <div class="f-icon footer-homepage"><a href="http://posdoc.info/"></a></div>
      </div>
    </div>
  </div>

  <br>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- posdoc.com challenges day-0001 footer -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-3257964358323623"
       data-ad-slot="8024349236"
       data-ad-format="rectangle"
       data-full-width-responsive="true"></ins>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  </body>

</html>
